<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Financial_Reports.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Financial_Reports.My.MySettings.ProjetexDB2" connectionString="character set=UTF8;initial catalog=&quot;E:\Program Files (x86)\AIT\Projetex 9\Projetex Server\Database\projetex.fdb&quot;;data source=192.168.0.56;user id=ODBC;password=password;role=PROJETEX_ODBC" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <Financial_Reports.My.MySettings>
      <setting name="DBAddress" serializeAs="String">
        <value>192.168.0.56</value>
      </setting>
      <setting name="DBPort" serializeAs="String">
        <value>3050</value>
      </setting>
      <setting name="DBFile" serializeAs="String">
        <value>E:\Program Files (x86)\AIT\Projetex 9\Projetex Server\Database\projetex.fdb</value>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="ProjetexDB" serializeAs="String">
        <value>character set=UTF8;data source=192.168.56.101;initial catalog="C:\Projetex9\Projetex Server\Database\projetex.fdb";user id=ODBC;password=pwww;role=PROJETEX_ODBC</value>
      </setting>
    </Financial_Reports.My.MySettings>
  </userSettings>
</configuration>