<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mayflower.My.MySettings.pec9vbox" connectionString="Dsn=pex9vbox32;Driver={Firebird/InterBase(r) driver};dbname=192.168.56.101/3050:c:\projetex9\projetex server\database\projetex.fdb;charset=UTF8;uid=ODBC;role=PROJETEX_ODBC;client=C:\Program Files (x86)\AIT\Firebird Server\bin\fbclient.dll"
            providerName="System.Data.Odbc" />
        <add name="Mayflower.My.MySettings.ProjetexDB" connectionString="character set=UTF8;data source=192.168.56.101;initial catalog=&quot;C:\Projetex9\Projetex Server\Database\Projetex.fdb&quot;;user id=ODBC;password=password;role=PROJETEX_ODBC"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>